<div class="container content">
  <div class="row justify-content-around">
    <div class="col-6">
      <div class="row">
        <input
          class="form-control id-search-input col-8"
          type="number"
          name="search"
          autocomplete="off"
          placeholder="Enter Id Number"
        />

        <button type="button" class="btn btn-success col-3">
          <i class="fa fa-search"></i> &nbsp; Search
        </button>
      </div>
    </div>
  </div>

  <br />
  <div *ngIf="!(persons$ | async)" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div>
    <div class="card custom-card" *ngFor="let person of persons$ | async">
      <div class="card-body">
        {{ person.name }}
      </div>
    </div>
  </div>
</div>
